<?xml version="1.0" encoding="UTF-8"?>

<ovoEventReadPluglet xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="/opt/OV/schema/OVI/OvoEventReadPluglet.xsd">

    <!--
        This is the OVO operator user name.
    -->
    <ovoOperator>opc_adm</ovoOperator>

    <!--
        This is the OVO encrypted password for the operator.
        Use the OviEncryptUtil script to encrypt the password string.
    -->
    <ovoOperatorEncryptedPassword>Oz00F1cQABwzdGI=</ovoOperatorEncryptedPassword>

    <!--
        This is the OVO unencrypted password for the operator. If you wish to use an
        unencrypted password, fill in and uncomment the following XML element.
        The ovoOperatorEncryptedPassword element must also be commented out.
    <ovoOperatorPassword></ovoOperatorPassword>
    -->

    <!--
        The maximum number of messages to return within a response.
        The maximum heap size for the JVM may need to be increased to
        accomodate the specified maxMessagesToReturn. The heap size can be set
        through the JVM_ARGS variable within the OVI.env file.
        The default value within the pluglet is 150, and should suffice for most cases.
    <maxMessagesToReturn>150</maxMessagesToReturn>
    -->

    <!--
        This filter will accept all OVO events read from the OVO Server.
    -->
    <filter>
        <all/>
    </filter>

    <!--
        Switch on message trace logging
    -->
    <traceMessages>false</traceMessages>

    <!--
        Switch on message route logging
    -->
    <traceRoute>false</traceRoute>

</ovoEventReadPluglet>



