<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory>

        <!-- Database connection settings -->
        <property name="connection.driver_class">net.sourceforge.jtds.jdbc.Driver</property>
        <property name="connection.url">jdbc:jtds:sqlserver://calntalp202:1433/splunk_support_db</property>
        <property name="connection.username">monitoring</property>
        <property name="connection.password">HYPertext01</property>
        <!--
        <property name="connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="connection.url">jdbc:mysql://localhost:3306/splunk_support_db</property>
        <property name="connection.username">root</property>
        <property name="connection.password">apogee</property>
         -->

        <!-- JDBC connection pool (use the built-in) -->
        <property name="connection.pool_size">1</property>

        <!-- SQL dialect -->
        <!--
            Possible values:
                DB2                      org.hibernate.dialect.DB2Dialect
                DB2 AS/400               org.hibernate.dialect.DB2400Dialect
                DB2 OS390                org.hibernate.dialect.DB2390Dialect
                PostgreSQL               org.hibernate.dialect.PostgreSQLDialect
                MySQL                    org.hibernate.dialect.MySQLDialect
                MySQL with InnoDB        org.hibernate.dialect.MySQLInnoDBDialect
                MySQL with MyISAM        org.hibernate.dialect.MySQLMyISAMDialect
                Oracle (any version)     org.hibernate.dialect.OracleDialect
                Oracle 9i/10g            org.hibernate.dialect.Oracle9Dialect
                Sybase                   org.hibernate.dialect.SybaseDialect
                Sybase Anywhere          org.hibernate.dialect.SybaseAnywhereDialect
                Microsoft SQL Server     org.hibernate.dialect.SQLServerDialect
                SAP DB                   org.hibernate.dialect.SAPDBDialect
                Informix                 org.hibernate.dialect.InformixDialect
                HypersonicSQL            org.hibernate.dialect.HSQLDialect
                Ingres                   org.hibernate.dialect.IngresDialect
                Progress                 org.hibernate.dialect.ProgressDialect
                Mckoi SQL                org.hibernate.dialect.MckoiDialect
                Interbase                org.hibernate.dialect.InterbaseDialect
                Pointbase                org.hibernate.dialect.PointbaseDialect
                Derby                    org.hibernate.dialect.DerbyDialect
                FrontBase                org.hibernate.dialect.FrontbaseDialect
                Firebird                 org.hibernate.dialect.FirebirdDialect
        -->
        <!--
        <property name="dialect">org.hibernate.dialect.MySQLDialect</property>
         -->
        <property name="dialect">org.hibernate.dialect.SQLServerDialect</property>

        <!-- Enable Hibernate's automatic session context management -->
        <property name="current_session_context_class">thread</property>

        <!-- Disable the second-level cache  -->
        <property name="cache.provider_class">org.hibernate.cache.NoCacheProvider</property>

        <!-- Echo all executed SQL to stdout -->
        <property name="show_sql">false</property>

        <!-- Drop and re-create the database schema on startup -->
        <!--
            create        the database schema is re-created every time the SessionFactory is started
            create-drop   the database schema is re-created every time the SessionFactory is explicitly clsoed
            update        checks and updates the database schema
            validate      only checks the database schema
        -->
        <!--
        <property name="hbm2ddl.auto">create</property>
        <property name="hbm2ddl.auto">create-drop</property>
        <property name="hbm2ddl.auto">update</property>
        <property name="hbm2ddl.auto">validate</property>
        -->

        <!--
            REPLACING DEFAULT "javassist" bytecode provider with "cglib" as workaround to PermGen issues
         -->
        <property name="hibernate.bytecode.provider">cglib</property>

        <property name="hibernate.bytecode.use_reflection_optimizer">false</property>


        <!-- Include mapping files for database tables for each individual subject -->
        <mapping resource="com/bgi/esm/monitoring/splunk/splunk_send/server/data/orm/hibernate/DataMap.hbm.xml"       />
        <mapping resource="com/bgi/esm/monitoring/splunk/splunk_send/server/data/orm/hibernate/HttpAttribute.hbm.xml" />
        <mapping resource="com/bgi/esm/monitoring/splunk/splunk_send/server/data/orm/hibernate/HttpCookie.hbm.xml"    />
        <mapping resource="com/bgi/esm/monitoring/splunk/splunk_send/server/data/orm/hibernate/HttpHeader.hbm.xml"    />
        <mapping resource="com/bgi/esm/monitoring/splunk/splunk_send/server/data/orm/hibernate/HttpParameter.hbm.xml" />
        <mapping resource="com/bgi/esm/monitoring/splunk/splunk_send/server/data/orm/hibernate/HttpRequest.hbm.xml"   />

    </session-factory>
</hibernate-configuration>
